<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <div th:fragment="menu">

        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <!-- logout phải là method = post -->
            <input type="submit" />
        </form>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="" class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/shopping-logo.png}" width="100px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <th:block sec:authorize="hasAuthority('Admin')">
                        <!-- sec:authorize được sử dụng sau khi khai báo xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" -->
                        <!-- Trường hợp Admin sẽ thấy mục User -->
                        <li class="nav-item dropdown">
                            <a th:href="@{/users}" class="nav-link dropdown-toggle" data-toggle="dropdown">Users</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/users/new}" class="dropdown-item">Create New</a>
                                <a th:href="@{/users}" class="dropdown-item">View All</a>
                            </div>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <!-- Trường hợp Admin và Editor sẽ thấy thêm mục categories, khi khai báo nhiều chức danh thì dùng hasAnyAuthority -->
                        <li class="nav-item dropdown">
                            <a th:href="@{/categories}" class="nav-link dropdown-toggle"
                                data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/categories/new}" class="dropdown-item">Create New Item</a>
                                <a th:href="@{/categories}" class="dropdown-item">View All Item</a>
                            </div>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <!-- Trường hợp Admin và Editor sẽ thấy thêm mục brands, khi khai báo nhiều chức danh thì dùng hasAnyAuthority -->
                        <li class="nav-item dropdown">
                            <a th:href="@{/brands}" class="nav-link dropdown-toggle"
                                data-toggle="dropdown">Brands</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/brands/new}" class="dropdown-item">Create New Brand</a>
                                <a th:href="@{/brands}" class="dropdown-item">View All Brand</a>
                            </div>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <!-- Trường hợp Admin và Editor sẽ thấy thêm mục brands, khi khai báo nhiều chức danh thì dùng hasAnyAuthority -->
                        <li class="nav-item dropdown">
                            <a th:href="@{/products}" class="nav-link dropdown-toggle"
                                data-toggle="dropdown">Products</a>
                            <div class="dropdown-menu">
                                <a th:href="@{/products/new}" class="dropdown-item">Create New Product</a>
                                <a th:href="@{/products}" class="dropdown-item">View All Product</a>
                            </div>
                        </li>
                    </th:block>

                    <li>
                        <span class="fas fa-user fa-2x icon-silver"></span>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/account}"
                            sec:authentication="principal.fullname"></a>
                        <!-- Biến principal có sẵn và tương ứng/ nằm trong với đối tượng shopingUserDetail -->
                        <!-- principal.fullname -> sử dụng method .getFullname trong ShoppingUserDetails -> Cú pháp sử dụng, bên đây là: .fullname (bỏ get đi) -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>